{% extends 'base.html.twig' %}
{% block title 'Tous nos biens' %}

{% block body %}
    <div class="container mt-4">  
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Quam aperiam labore excepturi, neque temporibus, omnis voluptate 
        quasi sint magnam a fugit enim eius odio qui veniam.
        </p>
    </div>
{% endblock %}